body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    background-color: rgb(218, 228, 234);
}
.title {
    font-size: large;
}

.weather-app {
    max-width: 1000px;
    margin: 20px auto;
}